.car-form__form {
  /* display: flex; */
  justify-content: center;
  min-width: 600px;
}
.car-form__content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.car-form__label-container {
  display: flex;
  justify-content: center;
}

.car-form__notes-container {
  display: flex;
  justify-content: center;
}

.car-form__body {
  display: flex;
  gap: 1rem;
}

.car-form__optional-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}

.car-form__required-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}

.car-form__button-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.new-car-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  display: grid;
  place-items: center;
  border: none;
  background-color: var(--background-color);
  transition: all 0.2s ease-in-out;
}
.new-car-button:hover {
  /* background-color: var(--accent-color); */
  transform: scale(1.1);
  /* box-shadow: 0 0 10px black; */
  transition: all 0.2s ease-in-out;
}
.add-car-icon {
  color: var(--primary-color);
}


