.nav-link {
  transition: all 0.2s ease;
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease;
  height: 2px;
  background-color: currentColor;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
