.navbar {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 4rem;
  height: 100vh;
  position: fixed;
  transition: width 0.2s ease-in-out;
  gap: 1rem;
  z-index: 2;
  border-right: 2px solid var(--text-color);
}

.navbar:hover {
  width: 12rem;
  transition: width 0.2s ease-in-out;
}

.navbar:hover .nav-text {
  display: block;
}


.nav-link:first-child {
  margin-top: 1rem;
}

.nav-link:last-child {
  margin-bottom: 1rem;
  margin-top: auto;
}
