.nav-link {
  display: flex;
  height: 2rem;
  margin-left: 0.75rem;
  text-decoration: none;
}

.nav-text {
  padding-left: 1rem;
  display: none;
}

.nav-item {
  display: flex;
  align-items: center;
  color: var(--background-color);
  /* outline: 1px solid red; */
  width: 100%;
  /* margin-right: 1.5rem; */
  /* border-radius: 5px; */
  padding: 0.5rem;
}
.nav-item:hover {
  color: var(--tertiary-color);
  /* box-shadow: 0 0 5px 0 var(--text-color); */
}

/* logout uses onClick instead of href so it doesn't get this on hover  by default */
.nav-link:hover {
  cursor: pointer;
}
