.hero-bg {
  background-image: url("../../assets/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -1;
  padding-top: 100px;
  min-width: 1200px;
  width: 100%;
}

.hero-content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 4rem;
}

.hero-content-text-box {
  margin: auto;
}
.hero-content-box {
}
